@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font */
@font-face {
  font-family: font2;
  src: url(/Fonts/Lausanne-500.woff2);
}
@font-face {
  font-family: font1;
  src: url(/Fonts/Lausanne-300.woff2);
}
/* .font-space {
  font-family: 'Space Grotesk', sans-serif;
} */

/* animations */
@keyframes scrollX {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes slide {
  0%   { transform: translateY(0%); }
  20%  { transform: translateY(-100%); }
  40%  { transform: translateY(-200%); }
  60%  { transform: translateY(-300%); }
  80%  { transform: translateY(-400%); }
  100% { transform: translateY(0%); }
}

.animate-slide {
  animation: slide 2s steps(6) infinite; /* match greetings count */
}



@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.moveX{
  animation: moveAnimation 10s linear infinite;
  }

.movelink{
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .movelink{
  opacity: 1;
}